<nav class="navbar navbar-expand-lg navbar-light azul">
    <ul class="navbar-nav">
        <li> &nbsp; <img src="assets/img/tv.jpg" alt="Logo" style="width:40px;"><a class="navbar-brand" href="#"> &nbsp; TV Series</a></li>
    </ul>
</nav>
<br>
<div class="container">
  <div class="row">
      <div class="col">
        <table class="table" id='tabla-series'>
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Channel</th>
              <th>Seasons</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of series" id="series">
              <td> <b>{{s.id}}</b> </td>
              <td> <a href={{s.webpage}} target='_blank'>{{s.name}}</a> </td>
              <td> {{s.channel}} </td>
              <td> {{s.seasons}} </td>
            </tr>
          </tbody>
        </table>
      <p>&nbsp; Seasons average: {{avrg}}</p>
      </div>
      <div class="col" id='detail-col'></div>
  </div>
</div>
<script type="module" src="./scripts/serie.js" ></script>
<script type="module" src="./scripts/data.js" ></script>
<script type="module" src="./scripts/main.js"></script>
